.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Actor" !important;
  background: RGB(175, 238, 238, 0.5) !important;
  margin-top: 5rem !important;
}

.home {
  width: 100%;
  height: 90vh;
  margin-top: 70px;
  color: #282c34;
  font-family: "Advent Pro";
  /* border: 3px solid teal;
  border-radius: 15px; */
}

.home h1 {
  margin-top: 4em;
  font-size: 2.5rem;
  font-weight: 600;
}

.home .bn {
  color: darkturquoise;
}

.home .get-started {
  font-size: large;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 5px;
  padding: 10px 30px;
  transition: 0.7s;
  background-color: teal;
  color: whitesmoke;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 15%;
  border: teal !important;
}

.home .get-started:hover {
  background-color: whitesmoke;
  color: teal;
  transform: scale(1.15);
  transition: 0.5s;
  font-weight: bolder;
}

.home .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.navbar {
  background-color: teal;
  color: whitesmoke !important;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: black;
  font-weight: bolder;
  transform: scale(1.15);
  transition: 0.5s;
}

/* .navbar-custom .navbar-text{
  color: aliceblue;
} */

.footer {
  padding: 1rem;
  background-color: cadetblue;
  color: white;
  position: fixed;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 100;
}

/* ----------------Form Stylings---------------- */

.form {
  font-family: sans-serif;
}

/* ********************** */
.styling {
  position: relative;
  width: 320px;
  height: 420px;
  background: RGBA(0, 128, 128, 0.4);
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}

.styling::before {
  position: relative;
  top: -50%;
  width: 100%;
  height: 100%;
  background: whitesmoke !important;
  transform: skewY(345deg);
  transition: 0.5s;
}

.styling:hover::before {
  top: -70%;
  transform: akewY(390deg);
}

.styling .image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.styling .image img {
  max-width: 100%;
  transition: 1s;
}

.styling:hover .image img {
  max-width: 50%;
}

.styling .text {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-direction: column;
  z-index: 1;
}

.styling .text .buy {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 12px;
  position: relative;
  color: whitesmoke;
  text-decoration: none;
  background: whitesmoke;
  border-radius: 30px;
  text-transform: uppercase;
}

.styling .text .buy:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
